<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="%PYTHONPATH%;D:\home\site\wwwroot" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="D:\home\Python310\python.exe" arguments="D:\home\site\wwwroot\wsgi.py" requestTimeout="00:04:00" />
  </system.webServer>
</configuration> 